.box{
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 0px;
}
.box1{
    background-color: darkgoldenrod;
}
.box2{
    background-color:crimson;
}
.box3{
    background-color: cadetblue;
}
div{
    border: 2px solid black;
}